* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}



.box {
    background-color: #e5e6d6;
    position: relative;
    background-size: cover;
    width: 383px;
    height: 283px;
    border-radius: 12px;
}

.slika {
    width: 383px;
    height: 178px;
    
    
}

.box .linija {
    position: absolute;
    width: 383px;
    height: 7px;
    color: #6f8b78;
    border: 7px solid #6f8b78;
    top: 177px;
    bottom: 
}

.kocki {
    display: flex;
}


.kocka1 {
    width:130px;
    height:198px;
    background-color: white;
    flex-flow: column;
    padding:22px 0px 0px 23px;
}

.comment {
    color:black;
       font-size: 15px;
       text-align: center;
       flex-flow: column;
       padding-bottom: 10px;
}

.no1 {
    color: #cf817f;
    font-size:18px;
    text-align: center;
     font-weight: bold;
     flex-flow: column;
     padding-left: 25px;
     margin-top: 10px;
}

.kocka2 {
    width:127px;
    height:86px;
    padding:22px 0px 0px 23px;
    background-color: lightsalmon;
    flex-flow: column;
}

.like {
    color:black;
    font-size: 15px;
    text-align: center;
    flex-flow: column;
    padding-left: 25px;
}

.no2 {
     color: #cf817f;
     font-size:18px;
     text-align: center;
     font-weight: bold;
     flex-flow: column;
     padding-left: 22px;
}

.kocka3 {
    width:127px;
    height:86px;
    padding:22px 0px 0px 23px;
    background-color: white;
    flex-flow: column;
}

.shot {
    color:black;
    font-size: 15px;
    text-align: center;
    flex-flow: column;
    padding-left: 25px;
    margin-bottom: 10px;
}

.no3 {
     color: #cf817f;
     font-size:18px;
     text-align: center;
     font-weight: bold;
     flex-flow: column;
     padding-left: 35px
}
